<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto">
  <h1 class="display-6 text-center">Our Pricing</h1>
</div>

<div class="container">
  <div class="d-flex justify-content-center flex-nowrap">
    <div class="card">
      <div class="card-header">Free</div>
      <div class="card-body">
        <h5 class="card-title">30 Day Free Trial</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a class="btn btn-primary">Select Plan</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Premium</div>
      <div class="card-body">
        <h5 class="card-title">90 Days Exclusive Service</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a class="btn btn-primary">Select Plan</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Pro</div>
      <div class="card-body">
        <h5 class="card-title">Lifetime of Servitude</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a class="btn btn-primary">Select Plan</a>
      </div>
    </div>
  </div>
</div>
